
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha284-Mj5jW/TuKsBbhf5c9BfA/qQMAq/vGy17nD5W72KxqoxMnEjTzO/4tbXkXWDsv5h0" crossorigin="anonymous">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha284-k6RqeWeci5ZR/Lv4MR0sA0FfDOMhEz+Vkhf7BTVv4idvBdfeb+NE5lCKomZ7Nhyy" crossorigin="anonymous">

<div class="container mt-5">
    <h1>Register</h1>
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <form action="/register" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="username" id="">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password">

                        </div>
                        <button type="submit" class="btn btn-dark">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>